#contact{
    scroll-margin-top: 120px ;
}
#footer{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    width: 1300px;
    margin-left: 100px;
    margin-bottom: 50px;
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;

}
h1{
    color: whitesmoke;
    text-align: center;  
   
}
.maps img{
    width: 600px;
    height: 400px;
    margin-right: 30px;
    margin-top: 75px;
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
}
.forms{
    margin-top: 100px;
    width: 600px;
    height: 400px;
    background-color:linear-gradient(90deg , yellowgreen, purple);
    margin-left: 80px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
}
.form-content{
    margin-left: 30px;
}
label{
    font-family: monospace;
    font-size: 20px;
    color: #dfe4ea;
    display: flex;
    flex-direction: column;line-height: 30px;
}

input{
    width: 500px;
    height: 30px;
    outline-style: none;
    background-color:linear-gradient(90deg , yellowgreen, purple);
    border: none;
    display: flex;
    flex-direction: column;
    
}
textarea{
    width: 500px;
}
button{
    background-color: #2e86de;
    color: white;
    font-size: 15px;
    width: 200px;
    height: 30px;
    font-family: monospace;
    font-weight: bolder;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
}